spring:
  profiles:
    active: local
  datasource:
    url: ${MYSQL_DATABASE}
    username: ${MYSQL_USERNAME}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REIDS_PORT}
      password: ${REDIS_PASSWORD}
  jwt:
    secret: ${JWT_SECRET_KEY}
    access-token:
      expire-time: 86400000 #1일
    refresh-token:
      expire-time: 259200000 #3일

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100

---
spring:
  config:
    activate:
      on-profile: local
    import: optional:application-local.yml```