spring:
  profiles:
    active: local
  datasource:
    url: ${MYSQL_DATABASE}
    username: ${MYSQL_USERNAME}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}
  jwt:
    secret: ${JWT_SECRET_KEY}
    access-token:
      expire-time: 86400000
    refresh-token:
      expire-time: 259200000

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100

  rabbitmq:
    host: ${RABBITMQ_HOST}
    port: ${RABBITMQ_PORT}
    username: ${RABBITMQ_USERNAME}
    password: ${RABBITMQ_PASSWORD}
    listener:
      simple:
        acknowledge-mode: auto    # 자동 ack
    template:
      mandatory: true             # 메시지 미전달 시 callback 받기

server:
  url: ${SERVER_URL}

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

cors:
  url: ${FRONT_URL}

---
spring:
  config:
    activate:
      on-profile: local
    import: optional:application-local.yml